---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Whoopdie doo</title>
	</head>
	<body>
		<h1>Rummageacre</h1>
	<h2>Where do we go now?</h2>
	</body>
</html>
